
header{
    width: 95%;
    margin: 0 0 auto;
}
nav{
    @include flex(flex-start, center, row);
    flex-wrap: wrap;
    min-height: 10vh;
    width: 60%;
    // font-family: 'Roboto', sans-serif;
    .logo{
        @include flex(center, center, row);
        flex: 1 1 10rem;
        padding: 1rem;
        img{
            width: 3rem;
            padding-left: 1rem;
        }
        h1{
            padding-left: 1rem;
            font-size: 3rem;
        }
    }
    ul{
        @include flex(space-around, center, row);
        flex: 1 1 40rem;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100px;
        li{
            position: relative;
            a{
                font-weight: 200;
                font-size: 2rem;
                color: $whiteText;
                padding: 1rem;
                &:hover{
                    color: $whiteText;
                    border-bottom: 1px solid $whiteText;
                }
            }
            li:hover>a {
                background-color: #ffe0b2;
                text-decoration: none;
                color: #333333 !important;
            }
            ul {
                position: absolute;
                text-decoration: none;
                top: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: none;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                z-index: 1; // Set the z-index to 1 to ensure that the sub-menu appears above other elements.
                line-height: normal;
                background-color: #f2f2f2;

                li {
                    a {
                        text-align: left;
                        text-decoration: none;
                        color: #333333;
                        font-size: 14px;
                        padding: 10px;
                        display: block;
                        white-space: nowrap;
                    }
                    a:hover {
                        text-decoration: none;
                        background-color: #ffe0b2;
                        color: #333333;
                    }
                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }

            
        }
        li:hover>ul {
            display: block;
        }
    }
}
.logout{
    align-self: flex-end;
    color: black;
}
main{
    min-height: 90vh;
    @include flex(center, center, row);
}
.main-card{
    // background: rgb(5,5,5);
    // background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgb(36, 36, 36) 50%, rgba(5,5,5,1) 100%); 
    // filter: drop-shadow(0px 4px 64px rgba(0, 0, 0, 0.014));
    box-sizing: border-box;
    border: 0.5px solid $whiteText;
    border-radius: 1rem;
    padding: 3rem 3rem 3rem 3rem;
    form{
        @include flex(center, stretch, column);
        flex: 1 1 40rem;
        padding: 2rem;
        .usr, .pass{
            @include flex(center, stretch, column);
        }
        .bottom{
            @include flex(center, stretch, column);
            padding-top: 1rem;
            font-size: 1.3rem;
            span{
                padding-top: 0 0.5rem 0 0.5rem;
                align-self: center;
            }
            a{
                font-size: 1.3rem;
                color: $greyText;
                &:hover{
                    color: $whiteText;
                    border-bottom: 1px solid $whiteText;
                }
            }
        }
    h3{
        font-size: 3.2rem;
    }
    p{
        visibility: hidden;
        padding-top: 0rem;
        font-size: 1.6rem;
        color: $whiteText
    }
    button{
        
        background: #f5f5f5;
        border: none;
        border-radius: 0.6rem;
        font-size: 1.3rem;
        padding: 1rem 2rem 1rem 2rem;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
    }
    button:hover{
        background: #e2390e;
    }
    }

}
label{
    font-size: 1.6rem;
}
input{
    border: 0.6px solid #FFFFFF;
    border-radius: 0.6rem;
    background: $blackBackground;
    color: $greyText;
    font-size: 1.3rem;
    padding: 1rem 2rem 1rem 2rem;
}
.splash{
    position: absolute;
    bottom: 0;
    left: 0rem;
    width: 20%;
    z-index: -1;
}