html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(/icons-img/blurry4.svg);
  color: #f5f5f5;
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.7rem;
}

li, button, label, input, p, a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4, h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  font-size: 2rem;
}

header {
  width: 95%;
  margin: 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 1rem;
}

nav .logo img {
  width: 3rem;
  padding-left: 1rem;
}

nav .logo h1 {
  padding-left: 1rem;
  font-size: 3rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  list-style: none;
}

nav ul li a {
  font-weight: 200;
  font-size: 2rem;
  color: #f5f5f5;
  padding: 1rem;
}

nav ul li a:hover {
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.logout {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: black;
}

main {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #f5f5f5;
  border-radius: 1rem;
  padding: 3rem 3rem 3rem 3rem;
}

.main-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.main-card form .usr, .main-card form .pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-card form .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  font-size: 1.3rem;
}

.main-card form .bottom span {
  padding-top: 0 0.5rem 0 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-card form .bottom a {
  font-size: 1.3rem;
  color: #ababab;
}

.main-card form .bottom a:hover {
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}

.main-card form h3 {
  font-size: 3.2rem;
}

.main-card form p {
  visibility: hidden;
  padding-top: 0rem;
  font-size: 1.6rem;
  color: #f5f5f5;
}

.main-card form button {
  background: #f5f5f5;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.main-card form button:hover {
  background: #4fa1db;
}

label {
  font-size: 1.6rem;
}

input {
  border: 0.6px solid #FFFFFF;
  border-radius: 0.6rem;
  background: #0c0c0c;
  color: #ababab;
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem 2rem;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0rem;
  width: 20%;
  z-index: -1;
}

.profile-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #f5f5f5;
  border-radius: 1rem;
  padding: 3rem 3rem 3rem 3rem;
  width: 30%;
  display: inline-block;
}

.profile-card .user-info {
  text-align: center;
  padding-bottom: 2rem;
}

.profile-card .user-info button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: none;
  background-color: transparent;
}

.profile-card .user-info button:hover {
  background-color: transparent;
}

.profile-card .user-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.profile-card .user-info img:hover {
  opacity: 0.5;
}

.profile-card .account-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-card .account-settings {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-card .player-stats table {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile-card .player-stats table .bordered {
  border-bottom: 1px solid #fff;
}

.profile-card .player-stats p {
  color: white;
}

.profile-card .player-stats .statbox {
  padding: 1rem;
}

.profile-card .player-awards table {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile-card .player-awards table .bordered {
  border-bottom: 1px solid #fff;
}

.profile-card .player-awards p {
  color: white;
}

.profile-card .player-awards .awardbox {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.profile-card .player-awards .nav-buttons {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.profile-card .player-awards .nav-buttons button {
  background: #f5f5f5;
  opacity: 0.8;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  text-align: center;
}

.profile-card .player-awards .nav-buttons button:hover {
  opacity: 1;
}

.profile-card .card-header {
  text-align: center;
  padding-bottom: 2rem;
}

.profile-card h3 {
  font-size: 3.2rem;
  color: white;
}

.profile-card h4 {
  font-size: 2.2rem;
  color: white;
}

.profile-card p {
  padding-top: 0rem;
  font-size: 1.6rem;
  color: #f5f5f5;
}

.profile-card hr {
  color: white;
}
/*# sourceMappingURL=style.css.map */