<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div id="leaderboard">
            <h1>Leaderboard</h1>
        </div>>
        <div id="featuredQuiz">
            <h1>Featured Quiz</h1>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>