<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <img src="../../resources/icons-img/splash.svg" alt="" class="splash">
  <div class="main-card">
      <form action="/login" method="post" class="main-form">
          <div class="top">
              <h3>Login</h3>
              <p>Welcome</p>
          </div>
          <div class="usr">
              <label>Username</label>
              <input type="text" placeholder="Enter your Username" name="username" required>
          </div>
              <div class="pass">
              <br><label>Password</label>
              <input type="password" placeholder="Enter your Password" name="password" required>
          </div>
          <div class="bottom">
              <br><button type="submit">Login</button><br>
              <span>Don't have an account? <a href="/register">Register</a></span>
          </div>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>