<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <img src="../../resources/icons-img/splash.svg" alt="" class="splash">
    <div class="profile-card">
        <div class="card-header">
            <h3>Achievements</h3>
        </div>
        <div class="player-awards">

            <div class="container">

                <div class="row">
                    <div class="col-sm">
                      <div class="awardbox">
                        <img src="https://placehold.jp/100x100.png" alt="Award Image">
                        <p>[Award Name]</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="awardbox">
                        <img src="https://placehold.jp/100x100.png" alt="Award Image">
                        <p>[Award Name]</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <div class="awardbox">
                        <img src="https://placehold.jp/100x100.png" alt="Award Image">
                        <p>[Award Name]</p>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="awardbox">
                        <img src="https://placehold.jp/100x100.png" alt="Award Image">
                        <p>[Award Name]</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                        <div class="nav-buttons">
                            <button>
                                <i class="bi-caret-left-fill"></i>
                            </button>
                            <button>
                                <i class="bi-caret-right-fill"></i>
                            </button>
                        </div>
                    </div>
                  </div>

              </div>
            </div>
    </div>
    <div class="profile-card">
        <div class="user-info"> <!-- Profile Image + Name-->
                <!-- Button trigger modal -->
            <button type="button" data-toggle="modal" data-target="#updatePhotoModal">
                <img src="https://placehold.jp/150x150.png" alt="Profile Image" data-toggle="tooltip" data-placement="top" title="Update Photo" >
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatePhotoModal">
                Update Photo
            </button>
            <h3>Username</h3>
        </div>
        <div class="account-info">
            <h4>Account Information</h4> <!-- Date Joined?-->
            <p>Date Joined: [Date]</p>
            <p>Associated Email: [Email]</p>
        </div>
        <div class="account-settings">
            <h4>Account Settings</h4>
            <p>Change Username</p> <!-- Same thing as register except it updates the user info instead of creating new thing-->
            <p>Change Password</p> <!-- Same thing as register except it updates the user info instead of creating new thing-->
            <p>Change Associated Email</p> <!-- Same thing as register except it updates the user info instead of creating new thing; current password must match, include password confirmation-->
        </div>
    </div>
    <div class="profile-card">
        <div class="card-header">
            <h3>Stats</h3>
        </div>
        <div class="player-stats">
            <div class="container">
                
                <div class="row">
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Quizzes Taken</p>
                        <hr>
                        <h3>999999</h3>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Points Earned</p>
                        <hr>
                        <h3>999999</h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Total Time Spent</p>
                          <hr>
                          <h3>999999</h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Time</p>
                          <hr>
                          <h3>999999</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Score</p>
                          <hr>
                          <h3>999999</h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Highest Accuracy</p>
                          <hr>
                          <h3>999999</h3>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>

<!-- Update User Image -->
<div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>