<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>

<div class="main-card">
  <form action="/register" method="post">
    <div class="top">
      <h3>Register</h3>
      <p>Welcome</p>
  </div>
<div class="holder">
  <div class="usr" class="register">
      <label>Username</label>
      <input type="text" placeholder="Enter your Username" name="username" required>
  </div>
  <div class="space">
  </div>
  <div class="usr" class="register">
      <label>Email</label>
      <input type="text" placeholder="Enter your Email" name="email" required>
  </div>
</div>
<div class="holder">
  <div class="pass" class="register">
      <br><label>Password</label>
      <input type="password" placeholder="Enter your Password" name="password" required>
  </div>
  <div class="space">
  </div>
  <div class="pass" class="register">
      <br><label>Confirm Password</label>
      <input type="password" placeholder="Confirm your Password" name="password_confirm" required>
  </div>
</div>
  <div class="bottom">
      <br><button type="submit">Register</button><br>
      <span>Already have an account? <a href="/login">Login</a></span>
  </div>
  </form>
</div>
</main>

<%- include ('../partials/footer') %>