<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->

    <h2>Register</h2>

<form action="/register" method="post">
 

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="password_confirm" required>
    <button type="submit">Register</button>
  </div>
  <div class="container" style="background-color:#f1f1f1"> 
    <span class="psw">Already have an account? <a href="/login">Login</a></span>
  </div>
 
</form>
  </div>
</main>

<%- include ('../partials/footer') %>