<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/QuizList">Quizzes</a>
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discover">Login</a>
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discover">User</a>
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
            </li>
          </ul>
          <div class="nav-item me-1">
            <a class="nav-link" href="/logout">Logout</a>
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
          </div>
        </div>
      </div>
    </nav>
   </header>