<div class="category-bar">
    <ul>
        <li><a href="#">Home</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
            </div>
        </li>
        <li><a href="#">Sports</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">Arts</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">History</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">Culture</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">Science</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">Geography</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">Food</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
        <li><a href="#">General</a>
            <div class="sub-menu">
                <h5>Quiz Difficulty</h5>
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Hard</a>
              </div>
        </li>
    </ul>
</div>

  
  
  