<header>
    <nav>
        <div class="logo">
            <img src="/icons-img/logo.svg" alt="">
            <h1>Quizletics</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/Home">Home</a></li>
            <li class="quizzes"><a href="#">Quizzes</a>
                <ul class="quiz-category">
                    <li class="category"><a href="#">Sports</a>
                        <ul>
                            <li><a href="/quiz?category=sport_and_leisure&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=sport_and_leisure&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=sport_and_leisure&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Film</a>
                        <ul>
                            <li><a href="/quiz?category=film_and_tv&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=film_and_tv&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=film_and_tv&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Music</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=music&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=music&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=music&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Art</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=arts_and_literature&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=arts_and_literature&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=arts_and_literature&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">History</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=history&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=history&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=history&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Culture</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=society_and_culture&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=society_and_culture&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=society_and_culture&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Science</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=science&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=science&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=science&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Geography</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=geography&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=geography&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=geography&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">Food</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=food_and_drink&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=food_and_drink&difficulty=medium">Medium</a></li>
                            <li><a href="/quiz?category=food_and_drink&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                    <li class="category"><a href="#">General</a>
                        <ul class = "difficulty">
                            <li><a href="/quiz?category=general_knowledge&difficulty=easy">Easy</a></li>
                            <li><a href="/quiz?category=general_knowledge&difficulty=medium">Medium</a></li>
                            <li ><a href="/quiz?category=general_knowledge&difficulty=hard">Hard</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/userProfile">My Profile</a>
            </li>
            <li class="logout">
                <a href="/logout">Logout</a>
            </li>
    
    </nav>
 </header>

 <script>
function difficultySelected(category, difficulty) {
    console.log(category);
  // Send a request to the API with the selected category and difficulty level
    // .then(response => {
    //   if (response.ok) {
    //     return response.json();
    //   } else {
    //     throw new Error('Failed');
    //   }
    // })
    // .then(data => {
    //   // Handle the response from the API
    //   console.log(data);
    // })
    // .catch(error => {
    //   // Handle errors
    //   console.error(error);
    // });
}
  </script>