<header>
  <nav>
      <div class="logo">
          <img src="../../resources/icons-img/logo.svg" alt="">
          <h1>Quizletics</h1>
      </div>
      <ul class="nav-links">
          <li>
              <a href="/Home">Home</a>
          </li>
          <li>
              <a href="/QuizList">Quizzes</a>
          </li>
          <li>
              <a href="/login">Login</a>
          </li>
          <li>
              <a href="/userProfile">My Profile</a>
          </li>
  </nav>
 </header>