<header>
    <nav>
        <div class="logo">
            <img src="/icons-img/logo.svg" alt="">
            <h1>Quizletics</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/Home">Home</a></li>
            <li class="quizzes"><a href="/quizList">Quizzes</a>
                <ul class="quiz-category">
                    <li><a href="#">Sports</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Art</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">History</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Culture</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Science</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Geography</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Food</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                    <li><a href="#">General</a>
                        <ul>
                            <li><a href="#">Easy</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Hard</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/userProfile">My Profile</a>
            </li>
            <li class="logout">
                <a href="/logout">Logout</a>
            </li>
    
    </nav>
 </header>